.product{
    border: 1px solid #bdbdbd;
    padding: 5px;
    border-radius: 3px;
    background: #ececec;
    margin-bottom: 10px;
}
.product:hover{
    border: 1px solid black;
}
.product h3{
    font-size: 15px;
    color: black;
}
.product img{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.main-home a{
    text-decoration: none;
    
}